body {
  margin: 0px;
  background-color: red; }

.header {
  display: flex;
  border: 1px solid #BBB;
  border-right: none;
  border-top: none;
  justify-content: space-between; }

.logo {
  height: 50px;
  width: auto; }

.fa {
  position: relative;
  font-size: 25px;
  width: auto;
  top: 10px;
  right: 10px;
  color: #999; }
